@model IEnumerable<SistemaHoteleiro.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Transações</h1>

<p>
    <a asp-action="Create">Adicionar uma nova Transação</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                w
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
